body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: min(3vh, 4vw);
    margin: 0px;
}

h1 {
    margin-top: 7.5vh;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    font-size: min(3vh, 4vw);
    margin: 1vh 2vw;
}

.navbar {
    position: fixed;
    width: 100vw;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    top: 0px;
    background-color: #333;
}

.navbar > li {
    float: left;
}

.navbar > li > a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 1vh 1vw;
    color: white;
}

.active {
    background-color: dodgerblue;
}

.center {
    text-align: center;
}

.flex-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px 2vw;
}

.flex-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px 2vw;
}

.img-link {
    text-decoration: none;
}

#me_switzerland {
    margin: 2vw;
    max-width: 25vw;
    max-height: 40vh;
}

.container-text {
    margin: 2vw;
}

.logo {
    max-width: 10vw;
    max-height: 10vh;
    margin: 1vw;    object-fit: contain;
}

button, select {
    background-color: green;
    color: white;
    margin: 1vh 2vw;
    border: none;
    padding: 10px 15px;
    font-size: min(3vh, 4vw);
}

#fact-container {
    margin: 20px;
}

#gallery {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 55vh;
    max-width: 90vw;
}

#caption {
    text-align: center;
}

.project-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90vw;
    max-height: 60vh;
}

#start {
    display: inline-block;
}

#question {
    display: none;
    margin: 10 auto;
    width: 40vw;
    max-height: 30vh;
}

#answer {
    display: none;
    font-size: min(6vh, 8vw);
    text-align: center;
    margin: 10 auto;
}

#submit {
    display: none;
    margin: 10 auto;
}

#scores {
    display: none;
}

#form-container, #delete-container {
    align-items: left;
    max-width: 25vw;
    margin: auto;
}

#comment-submit {
    background-color: green;
    color: white;
    margin: 10px;
    border: none;
    padding: 10px 15px;
    font-size: min(3vh, 4vw);
}

#comment-container, #score-container {
    margin: 1vh 10vw;
    list-style-type: none;
    border: thin solid black;
}

.comment{
    display: block;
    align: left;
    width: 70vw;
    margin: 2vh auto;
    border: thin dotted #EEE;
}

.score-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
    margin: 2vh auto;
    border: thin dotted #EEE;
}

.name {
    color: dodgerblue;
}

.page {
    font-size: min(4.5vh, 6vw);
    max-width: min(9vh, 12vw);
}